<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{assets/password-strength-meter/password.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

<div class="container my-5">
    <h2 class="mb-5">New User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="surname" class="col-form-label">Surname</label>
                        <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Surname">
                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="password" class="col-form-label">Password</label>
                        <div class="input-group" id="show_hide_password">
                            <input type="password" class="form-control" id="password" autocomplete="off"
                                   th:field="*{password}"/>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="phoneNumber" class="col-form-label">Phone number</label>
                        <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="Phone number">
                        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city" class="col-form-label">City</label>
                        <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="City">
                        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="street" class="col-form-label">Street</label>
                        <input type="text" th:field="*{street}" class="form-control" id="street" placeholder="Street">
                        <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="home number" class="col-form-label">Home number</label>
                        <input type="text" th:field="*{homeNumber}" class="form-control" id="home number" placeholder="Home number">
                        <span th:if="${#fields.hasErrors('homeNumber')}" th:errors="*{homeNumber}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/password-strength-meter/password.min.js}"></script>

<script>
    $('#password').password({
        closestSelector: '.form-group',
        shortPass: 'The password is too short',
        badPass: 'Weak; try combining letters & numbers',
        goodPass: 'Medium; try using special characters',
        strongPass: 'Strong password',
        containsField: 'The password contains your username',
        enterPass: 'Type your password',
        showPercent: false,
        showText: true, // shows the text tips
        animate: true, // whether or not to animate the progress bar on input blur/focus
        animateSpeed: 'fast', // the above animation speed
        field: false, // select the match field (selector or jQuery instance) for better password checks
        fieldPartialMatch: true, // whether to check for partials in field
        minimumLength: 4 // minimum password length (below this threshold, the score is 0)
    });
</script>

<script>
    var input = $("#show_hide_password input");
    var icon = $("#show_hide_password i");

    icon.on('click', function (event) {
        event.preventDefault();

        if (input.attr("type") === "text") {
            input.attr('type', 'password');
            icon.addClass("fa-eye-slash");
            icon.removeClass("fa-eye");

        } else if (input.attr("type") === "password") {
            input.attr('type', 'text');
            icon.removeClass("fa-eye-slash");
            icon.addClass("fa-eye");
        }
    });
</script>

</body>
</html>