<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>div {
        text-align: center;
    }</style>

</head>
<body>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/panel-user">Return</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div th:switch="${cars}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No users yet!</h2>
            <div th:case="*">
                <h2 class="headertekst">Cars</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Fuel</th>
                        <th>Transmission</th>
                        <th>Power [HP]</th>
                        <th>Weekend</th>
                        <th>Week</th>
                        <th>Two weeks</th>
                        <th>Month</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cars}">
                        <td th:text="${car.brand}"></td>
                        <td th:text="${car.model}"></td>
                        <td th:text="${car.fuel}"></td>
                        <td th:text="${car.transmission}"></td>
                        <td th:text="${car.power}"></td>
                        <td th:text="${car.priceForWeekend}" ></td>
                        <td th:text="${car.priceForWeek}"></td>
                        <td th:text="${car.priceForTwoWeeks}"></td>
                        <td th:text="${car.priceForMonth}"></td>
                        <td><a th:href="@{/rent-panel/{id}(id=${car.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>