<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <style> form {
        float: right;
    }</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-nav ml-auto">
                <form action="#" th:action="@{/home}"  method="GET">
                    <a class="navbar navbar-light" th:href="@{/home}">Logout</a>
                </form>
                <form action="#" th:action="@{/home}"  method="GET">
                    <a class="navbar navbar-light" th:href="@{/history}">History</a>
                </form>
                <form action="#" th:action="@{/cars}"  method="GET">
                    <a class="navbar navbar-light" th:href="@{/cars}">Cars</a>
                </form>
            </div>
        </div>
    </div>


</nav>





</body>
</html>