<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check</title>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5"> User</h2>
    <div class="row">
        <div class="col-md-6">

                <td th:text="${user.name}"></td>
             <span th:text="${user.surname != null} ? ${user.surname} : 'null value!'">someValue</span>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.city}"></td>
                <td th:text="${user.street}"></td>
                <td th:text="${user.homeNumber}"></td>



        </div>
    </div>
</div>
</body>
</html>