<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rent panel</title>
</head>
<table>
<body>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${id}"></td>
        <td th:text="${surname}"></td>
        <td th:text="${email}"></td>
        <td th:text="${phoneNumber}"></td>
        <td th:text="${city}"></td>
    </tr>
    </tbody>
    </table>

<div class="container my-5">
    <h2 class="mb-5"> User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/rent-panel}" th:object="${user}" method="get">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="surname" class="col-form-label">Surname</label>
                        <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Surname">
                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email" class="col-form-label">Id</label>
                        <input type="text" th:field="*{id}" class="form-control" id="id" placeholder="Id">
                        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="phone number" class="col-form-label">Phone number</label>
                        <input type="text" th:field="*{phoneNumber}" class="form-control" id="phone number" placeholder="Phone number">
                        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="city" class="col-form-label">City</label>
                    <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="City">
                    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="street" class="col-form-label">Street</label>
                    <input type="text" th:field="*{street}" class="form-control" id="street" placeholder="Street">
                    <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="home number" class="col-form-label">Home number</label>
                    <input type="text" th:field="*{homeNumber}" class="form-control" id="home number" placeholder="Home number">
                    <span th:if="${#fields.hasErrors('homeNumber')}" th:errors="*{homeNumber}" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update User">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>