<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rent panel</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{assets/password-strength-meter/password.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<table>
<body>

<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/cars">Return</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>

<h2 style="text-align: center;">Selected car</h2>
<table style="border:1px ;margin-left:auto;margin-right:auto;">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Fuel</th>
        <th>Transmission</th>
        <th>Power [HP]</th>
        <th>Weekend</th>
        <th>Week</th>
        <th>Two weeks</th>
        <th>Month</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.fuel}"></td>
        <td th:text="${car.transmission}"></td>
        <td th:text="${car.power}"></td>
        <td th:text="${car.priceForWeekend}" ></td>
        <td th:text="${car.priceForWeek}"></td>
        <td th:text="${car.priceForTwoWeeks}"></td>
        <td th:text="${car.priceForMonth}"></td>
    </tr>
    </tbody>
</table>

<div class="container my-5">
    <h2 class="mb-5"> User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/rentcar}" method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label th:for="rentalSpan" class="col-form-label">Span</label>
                    <select th:name="rentalSpan">
                        <option th:value="WEEKEND">Weekend</option>
                        <option th:value="WEEK">Week</option>
                        <option th:value="TWO_WEEKS">Two weeks</option>
                        <option th:value="MONTH">Month</option>
                    </select>
                        <div class="form-group col-md-6">
                            <label th:for="rentalStart" class="col-form-label">Start</label>
                            <input type="date" th:field="*{rental.rentalStart}"  id="datePickerId" placeholder="Start" >
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </div>


                </div>

            </form>
        </div>
</div>
</div>

<script>
    datePickerId.min = new Date().toISOString().split("T")[0];
</script>

</body>
</html>