<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rent panel</title>

</head>
<table>
<body>
<h2 style="text-align: center;">Selected car</h2>
<table style="border:1px ;margin-left:auto;margin-right:auto;">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Fuel</th>
        <th>Transmission</th>
        <th>Power [HP]</th>
        <th>Weekend</th>
        <th>Week</th>
        <th>Two weeks</th>
        <th>Month</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.fuel}"></td>
        <td th:text="${car.transmission}"></td>
        <td th:text="${car.power}"></td>
        <td th:text="${car.priceForWeekend}" ></td>
        <td th:text="${car.priceForWeek}"></td>
        <td th:text="${car.priceForTwoWeeks}"></td>
        <td th:text="${car.priceForMonth}"></td>
    </tr>
    </tbody>


</table>

<div class="container my-5">
    <h2 class="mb-5"> User</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/rentcar}" method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label th:for="rentalSpan" class="col-form-label">Span</label>
                    <select th:name="rentalSpan">
                        <option th:value="WEEKEND">Weekend</option>
                        <option th:value="WEEK">Week</option>
                        <option th:value="TWO_WEEKS">Two weeks</option>
                        <option th:value="MONTH">Month</option>
                    </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rentalStart" class="col-form-label">Start</label>
                        <input type="date" th:field="*{rental.rentalStart}"  id="rentalStart" placeholder="Start">
                    </div>

                    </div>
                </div>

        <div class="row">
            <div class="col-md-6 mt-5">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>